<mat-divider></mat-divider>
<mat-card class="footer-main-card">
  <mat-grid-list cols="2" rowHeight="5:1" class="footer-grid">
    <mat-grid-tile class="footer-tile">
      <mat-card class="footer-card-left">
      <h2><b>Dario Corona University</b></h2> <br />
        <i>Indirizzo:</i> Frazione Col di Urano, 7, 65432 Puccia MC <br />
        <i>Posta certificata:</i> dario.corona@unicam.it <br />
        <br/><br/><br/><i>Copyleft 2020-2021 @ DCU - DARIO CORONA UNIVERSITY</i>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="footer-tile">
      <mat-card class="footer-card-right">
        <img src="assets/logo-dcu/logo-cartaintestata-mod1.png" style="height: 120px;"><br />
        <img src="assets/band-eu.jpg" style="height: 60px; padding-right: 10px;">
        <img src="assets/band-ita.jpg" style="height: 60px;">
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
