.mat-divider {
  border-top-color: red;
  border-top-width: 2px;
}

.footer-main-card {
  background-color: #e5e5e5;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

.footer-card-left {
  background-color: #e5e5e5;
  border: 0px;
  transition: none;
  box-shadow: none;
}
.footer-card-right {
  background-color: #e5e5e5;
  border: none;
  transition: none;
  box-shadow: none;
  text-align: center;
}

