/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
}

.footer {
  margin-top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
}


// .main-div{
//     // height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex: 1;
// }
