<mat-card style="padding:0px;"><mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="10"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >
  </mat-carousel-slide>
</mat-carousel>
</mat-card>

<mat-tab-group>
  <mat-tab label="Eventi">
    <mat-grid-list cols="2" rowHeight="5:1">
      <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>Porte Chiuse Estate in DC Uni</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>Presentazione della Scuola del Quarto d'Ora Accademico</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>Corso intensivo di Cazzeggio online</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>Procastineering and Beyond - Corso Inapplicato</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>Giornate di ambientamento per i docenti</mat-card></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-card>GUL () 2020 </mat-card></mat-grid-tile>
          </mat-grid-list>
  </mat-tab>
  <mat-tab label="Cazzi"> <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile><mat-card><img src="assets/1.png" style="width: 300px;"></mat-card></mat-grid-tile>
  </mat-grid-list> </mat-tab>
  <mat-tab label="Mazzi"> <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile><mat-card><img src="assets/2.png" style="width: 300px;"></mat-card></mat-grid-tile>
  </mat-grid-list> </mat-tab>
</mat-tab-group>
