<mat-card style="padding:0px;"><mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="10"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >
  </mat-carousel-slide>
</mat-carousel>
</mat-card>
<span></span>

<mat-card style="margin: 10px;">Benvenuto/a nella tua area personale, <b>Cinzia Traballoni</b><br />
Sei attualmente iscritta al corso di <b>Polemiche e Pipponi</b> </mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile><mat-card>Esami iscritti: {{this.getNumeroEsamiIscritto()}}/{{this.exams.length}}</mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>Esami convalidati: {{this.getNumeroEsamiConvalidato()}}/{{this.exams.length}}</mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>Esami da sostenere: {{this.exams.length-this.getNumeroEsamiConvalidato()}}/{{this.exams.length}}</mat-card></mat-grid-tile>
</mat-grid-list>
